 
ITAcademy_WeatherApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_WeatherApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ITAcademy_WeatherApp.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
ITAcademy_WeatherApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITAcademy_WeatherApp.xcworkspace/xcuserdata/vlados.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ITAcademy_WeatherApp.xcworkspace/xcuserdata/vlados.xcuserdatad/UserInterfaceState.xcuserstate
ITAcademy_WeatherApp.xcworkspace/contents.xcworkspacedata
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/Pods-ITAcademy_WeatherApp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit-SnapKit_Privacy.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/SnapKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/vlados.xcuserdatad/xcschemes/xcschememanagement.plist
